@model Transaction

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Transaction</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Sum" class="control-label"></label>
                <input asp-for="Sum" class="form-control" />
                <span asp-validation-for="Sum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Time" class="control-label"></label>
                <input asp-for="Time" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control">
                    @foreach (Category category in ViewBag.Categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoneyAccountId" class="control-label"></label>
                <select asp-for="MoneyAccountId" class="form-control">
                    @foreach (MoneyAccount account in ViewBag.Accounts)
                    {
                        <option value="@account.Id">@account.Name</option>
                    }
                </select>
                <span asp-validation-for="MoneyAccountId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Type" />
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="@(Model.Type == TransactionTypes.Expense ? "ListExpenses" : "ListIncomes")"
                   class="btn btn-outline-secondary">
                    Cancel
                </a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
