@model IEnumerable<Transaction>

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<div class="btn-group">
    <a asp-action="ListAll" class="btn @(ViewBag.TransactionType == null ? "btn btn-primary" : "btn-secondary")">All</a>
    <a asp-action="ListExpenses" class="btn @(ViewBag.TransactionType == TransactionTypes.Expense ? "btn btn-primary" : "btn-secondary")">Expenses</a>
    <a asp-action="ListIncomes" class="btn @(ViewBag.TransactionType == TransactionTypes.Income ? "btn btn-primary" : "btn-secondary")">Incomes</a>
</div>

@if (ViewBag.TransactionType != null)
{
    <div class="pt-2">
        <a asp-action="Create" asp-route-type="@ViewBag.TransactionType" class="btn btn-primary">Create</a>
    </div>
}

<div class="pt-2">
    <table class="table">
        <thead>
            <tr>
                <th>Type</th>
                <th>Sum</th>
                <th>Time</th>
                <th>Description</th>
                <th>Category</th>
                <th>Account</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Type</td>
                    <td>@item.Sum?.ToString("C")</td>
                    <td>@item.Time?.ToString("MM/dd/yyyy H:mm")</td>
                    <td>@item.Description</td>
                    <td>@item.Category.Name</td>
                    <td>@item.MoneyAccount.Name</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

