@model IEnumerable<Transaction>

@{
    ViewData["Title"] = "Actions";
}

<h3 class="display-4">Actions</h3>

<div class="btn-group">
    <a asp-action="ListAll" class="btn @(ViewBag.Filter.Type == null ? "btn btn-primary" : "btn-secondary")">All</a>
    <a asp-action="ListExpenses" class="btn @(ViewBag.Filter.Type == TransactionTypes.Expense ? "btn btn-primary" : "btn-secondary")">Expenses</a>
    <a asp-action="ListIncomes" class="btn @(ViewBag.Filter.Type == TransactionTypes.Income ? "btn btn-primary" : "btn-secondary")">Incomes</a>
</div>

<div class="pt-2">
    @await Html.PartialAsync("Filter", (TransactionsFilter)ViewBag.Filter)
</div>

@if (ViewBag.Filter.Type != null)
{
    <div>
        <a asp-action="Create" asp-route-type="@ViewBag.Filter.Type" class="btn btn-primary">Create</a>
    </div>
}

<div class="pt-2">
    <table class="table">
        <thead>
            <tr>
                @if (ViewBag.Filter.Type == null)
                {
                    <th>Type</th>
                }
                <th>Sum</th>
                <th>Time</th>
                <th>Category</th>
                <th>Account</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @if (ViewBag.Filter.Type == null)
                    {
                        <td>@item.Type</td>
                    }
                    <td>@item.Sum?.ToString("C")</td>
                    <td>@item.Time?.ToString("MM/dd/yyyy H:mm")</td>
                    <td>@item.Category.Name</td>
                    <td>@item.MoneyAccount.Name</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

